.preloader{

  // display:none;

  @extend %cover;
  @extend %center;

  background: $color-black;
  color: $color-white;
  text-align: center;
  z-index: 9;
  width:100vw;
  height:100vh;

  @include media('<phone') {
  }
}

.preloader__wrapper{
  text-transform: uppercase;
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center;

  @include media('<phone') {
    display: unset;

  }
}

.preloader__title{
  font-size: 2.0rem;
  font-weight: 500;
  width: 15%;
  text-align: right;

  @include media('<tablet') {
    width: 28.5%;
    font-size: 3.6rem;
  }

  @include media('<phone') {
    text-align: center;
    width: 100%;
    font-size: 2.8rem;
  }
}

.preloader__percents{
  font-size: 3.6rem;
  font-weight: 600;
  text-align: center;
  width: 10%;

  @include media('<tablet') {
    font-size: 7.2rem;
    width: 20%;
  }

  @include media('<phone') {
    text-align: center;
    width: 100%;
    font-size: 7.2rem;
    margin-bottom: 7.2rem;
  }
}

.preloader__logo__wrapper {
  width: 15%;
  text-align: left;

  @include media('<tablet') {
    width: 28.5%;
  }

  @include media('<phone') {
    text-align: center;
    width: 100%;
    margin-bottom: 1.6rem;
  }
}

.preloader__line {
  height: 0.1rem;
  background-color: $color-gray;
  width: 27.5%;

  @include media('<tablet') {
    width: 11.5%;
  }

  @include media('<phone') {
    display: none;
  }
}