%description-24{

	@include media('<phone') {
  }
}

%paragraphs-18{
  font-family: $font-montserrat;
  font-size: 1.8rem;
  line-height: 1.65;
  text-transform: uppercase;
  font-weight: 400;

  @include media('<phone') {
    font-size: 2.4rem;
  }
}