.index__bringvictory{

}

.index__bringvictory__wrapper{
  background-color: $color-blue;
  color: $color-white;
  padding: 9.6rem 5%;
  text-transform: uppercase;
  text-align: center;
}

.index__bringvictory__title {
  font-family: $font-montserrat;
  font-weight: 800;
  font-size: 10.8rem;

  span {
    visibility: hidden;
  }

  @include media('<phone') {
    font-size: 7.2rem;
  }
}

.index__bringvictory__image__wrapper{
  margin: auto;
  margin-bottom: 3.6rem;

  @include media('<phone') {
    width: 100%;
    margin: 3.6rem auto;
  }
}

.index__bringvictory__image{
  @include media('<phone') {
    width: 100%;
  }
}

.index__bringvictory__paragraphs {
  width: 100%;
  font-size: 4.8rem;
  font-family: $font-noto;
  text-align: center;
  margin: auto;
  width: 50%;

  @include media('<phone') {
    width: unset;
  }
}

.index__bringvictory__socials__wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 3.6rem;
}

.index__bringvictory__social__wrapper{
  width: 6.4rem;
  height: 6.4rem;
  background-color: $color-white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0 1.2rem;
  border: solid 2px white;
  cursor: pointer;
}

.index__bringvictory__social{
  @include media('<phone') {
    height: 3.2rem;
  }
}

