.index__createdby{

}

.index__createdby__wrapper{
  background-color: $color-white;
  color: $color-black;
  padding-top: 6rem;
}

.index__createdby__paragraphs__wrapper{

  .index__createdby__paragraph {
    font-family: $font-noto;
    margin: auto;
    text-align: center;

    span span {
      visibility: hidden;
    }

    a {
      color: $color-blue;
      @extend %link--hidden;
    }

    &:nth-of-type(1) {
      width: 75%;
      font-size: 4.8rem;
      text-transform: uppercase;

      @include media('<phone') {
        width: 90%;
      }
    }

    &:nth-of-type(2) {
      @extend %paragraphs-18;
      font-weight: 400;
      text-transform: none;
      margin-top: 6rem;
      width: 70%;
      font-size: 2.0rem;
      line-height: 1.5;

      @include media('<phone') {
        width: 90%;
        font-size: 2.4rem;
      }
    }
  }
}

.index__createdby__logos__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10rem auto;
  justify-content: center;
  flex-wrap: wrap;

  @include media('<phone') {
    margin: 4.8rem auto;
    justify-content: space-evenly;
  }

  .index__createdby__logo__wrapper {
    mix-blend-mode: multiply;
    overflow: visible;

    @include media('<phone') {
      margin: 1.2rem 0;
      max-width: 40%;
      
    }

    margin: 0 2.4rem;
    .index__createdby__logo {
  
      @include media('<phone') {
        width: 100%;
      }
    }
  }
}




