.index__gallery {

}

.index__gallery__wrapper {
  background-color: $color-black;
  color: $color-white;
  padding: 9.6rem 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}

.index__gallery__title {
  width: 50%;
  font-size: 4.8rem;
  font-family: $font-noto;
  text-transform: uppercase;
  text-align: center;
  margin: auto;
  margin-bottom: 6.4rem;

  @include media('<phone') {
    width: 90%;
    font-size: 6.4rem;
  }

  @include media('<phone') {
    font-size: 4.8rem;
    margin-bottom: unset;
  }
}

.index__gallery__images__slider__wrapper {
  width: 100%;
  left: -56rem;
  height: 65rem;
  position: relative;

  @include media('<phone') {
    height: 48rem;
    margin-top: 6.4rem;
  }
}

.index__gallery__images__wrapper {
  position: absolute;
  height: 100%;

  @include media('<phone') {
    width: 100%;
  }
}

.index__gallery__image__wrapper {
  width: 56rem;
  height: 56rem;
  position: absolute;

  @include media('<tablet') {
    width: 52rem;
    height: 52rem;
    padding: 1.2rem;
  }

  @include media('<phone') {
    width: 48rem;
    height: 48rem;
    padding: 1.2rem;
  }

}

.index__gallery__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  @include media('<phone') {
    width: 95%;
  }
}

.index__gallery__controls__wrapper {
  width: 90%;
  position: relative;

  @include media('<phone') {
    margin-top: 4.8rem;
  }
}

.index__gallery__controls__arrows__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
}

.index__gallery__controls__arrow__wrapper {
  position: relative;
  border: 1px solid $color-gray;
  border-radius: 50%;
  width: 6.4rem;
  height: 6.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 1.2rem;
  background-color: $color-black;
  user-select: none;

  @include media('<tablet') {
    width: 12.8rem;
    height: 12.8rem;
    margin: 0 2.4rem;
  }

  @include media('<tablet') {
    width: 6.4rem;
    height: 6.4rem;
    margin: 0 1.2rem;
  }

  &:nth-of-type(1) {
    transform: scaleX(-1);
  }
}

.index__gallery__controls__arrow {
  position: absolute;
  left: 45%;
}

.index__gallery__line {
  width: 100%;
  height: 1px;
  background-color: $color-gray;
  position: absolute;
  top: 50%;
}

