.index__herobanner {

}

.index__herobanner__wrapper {
  color: $color-white;
  background-color: $color-black;
}

.index__herobanner__image__wrapper {
  position: relative;
  height: 66vh;

  @include media('<tablet') {
    height: 76vh;
  }

  @include media('<phone') {
    height: 76rem;
  }
}

.index__herobanner__video {
  height: 100vh;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.index__herobanner__image {
  // width: 100%;
  position: absolute;
  left: 50%;
  // top: 50%;
  transform: translate(-50%, 0%);
  height: 100vh;

  @include media('<phone') {
    width: unset;
    height: 100%;
    position: absolute;
    left: 90%;
  }
}

.index__herobanner__titles__wrapper {
  color:$color-yellow;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;

  @include media('<phone') {
    margin-top: 1.6rem;
    padding: 2.4rem 0;
  }


  .index__herobanner__title  {
    overflow: hidden;
    width: 100%;
    line-height: 0.85;
    padding: 2.4rem 0;

    @include media('<phone') {
      padding: unset;
    }

    span {
      // visibility: hidden;
      display: inline-block;
    }


    &:nth-of-type(1) {
      font-size: 24.8rem;

      @include media('<tablet') {
        font-size: 22.8rem;
      }

      @include media('<phone') {
        font-size: 9.8rem;
        margin-bottom: 1.6rem;
      }
    }

    &:nth-of-type(2) {
      font-size: 13.8rem;

      @include media('<phone') {
        font-size: 7.2rem;
      }
    }
  }
}



