.index__herobanner {

}

.index__herobanner__wrapper {
  color: $color-white;
  background-color: $color-black;
}

.index__herobanner__image__wrapper {
  // height: 100vh;
  // height: 47rem;
  height: 66vh;

  @include media('<phone') {
    height: 80rem;
    position: relative;
  }
}

.index__herobanner__image {
  width: 100%;

  @include media('<phone') {
    width: unset;
    height: 100%;
    position: absolute;
    left: -65%;
  }
}

.index__herobanner__titles__wrapper {
  color:$color-yellow;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;

  @include media('<phone') {
    margin-top: 1.6rem;
  }


  .index__herobanner__title  {
    width: 100%;


    &:nth-of-type(1) {
      font-size: 24.8rem;

      @include media('<phone') {
        font-size: 9.8rem;
      }
    }

    &:nth-of-type(2) {
      font-size: 13.8rem;

      @include media('<phone') {
        font-size: 7.2rem;
      }
    }
  }
}



