.index__worldsupports {

}

.index__worldsupports__wrapper {
  background-color: $color-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  padding-bottom: 27.5rem;
  margin-bottom: 27.5rem;

  @include media('<phone') {
    padding-bottom: 18.8rem;
  }
}

.index__worldsupports__wrapper__image__wrapper {
  margin-top: 8rem;
  width: 25rem;

  @include media('<phone') {
    width: 40rem;
  }

  .index__worldsupports__wrapper__image {
    width: 100%;
  }
}

.index__worldsupports__paragraphs__wrapper {
  margin: 4.8rem auto;
  width: 90%;

  .index__worldsupports__paragraph {
    text-transform: uppercase;
    position:relative;
    margin: auto;
    font-family: $font-noto;
    width: 60rem;
    text-align: center;
    color: $color-white;

    span {
      display: inline-block;
    }

    span span {
      visibility: hidden;
    }

    @include media('<phone') {
      width: unset;
    }

    &:nth-of-type(1) {
      @extend %paragraphs-18;
      color: $color-yellow;

      @include media('<phone') {
        margin-top: 2.4rem;
        font-size: 2.4rem;
      }
    }

    &:nth-of-type(2) {
      margin-top: 4.8rem;
      font-size: 6rem;
      
      @include media('<phone') {
        margin-top: 6.4rem;
      }
    }

    &:nth-of-type(3) {
      margin-top: 4.8rem;
      @extend %paragraphs-18;

      @include media('<phone') {
        margin-top: 7.2rem;
        font-size: 2.4rem;
      }
    }

    &:nth-of-type(4) {
      margin-top: 3.6rem;
      font-size: 14.8rem;
      color: $color-yellow;
      font-family: $font-montserrat;
      width: 90%;
      font-weight: 800;
      line-height: 0.9;

      @include media('<phone') {
        width: unset;
        margin-top: 6.4rem;
        font-size: 6.4rem;
      }
    }
  }
}



.index__worldsupports__map__wrapper {
  position: absolute;
  bottom: -27.5rem;

  @include media('<laptop') {
    bottom: -36rem;
  }

  @include media('<tablet-v') {
    bottom: -58rem;
  }

  @include media('<tablet') {
    bottom: -42rem;
  }

  @include media('<phone') {
    width: 100%;
    bottom: -20rem;
  }
}

.index__worldsupports__map__image__wrapper {
  overflow: visible;
}

.index__worldsupports__map__image {
  @include media('<phone') {
    width: 100%
  }
}

