.index__worldsupports {

}

.index__worldsupports__wrapper {
  background-color: $color-blue;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  padding-bottom: 27.5rem;
  margin-bottom: 27.5rem;
}

.index__worldsupports__wrapper__image__wrapper {
  margin-top: 8rem;

  .index__worldsupports__wrapper__image {

  }
}

.index__worldsupports__paragraphs__wrapper {
  margin: 3.6rem auto;

  .index__worldsupports__paragraph {
    text-transform: uppercase;
    margin: auto;
    font-family: $font-noto;
    width: 40%;
    text-align: center;

    &:nth-of-type(1) {
      @extend %paragraphs-18;
      color: $color-yellow;
    }

    &:nth-of-type(2) {
      margin-top: 3rem;
      font-size: 6rem;
    }

    &:nth-of-type(3) {
      margin-top: 4.8rem;
      @extend %paragraphs-18;
    }

    &:nth-of-type(4) {
      margin-top: 3.6rem;
      font-size: 14.8rem;
      color: $color-yellow;
      font-family: $font-montserrat;
      width: 90%;
      font-weight: 800;
    }
  }
}



.index__worldsupports__map__wrapper {
  position: absolute;
  bottom: -27.5rem;
}

.index__worldsupports__map__image__wrapper {

}

.index__worldsupports__map__image {

}

