section.footer
  .footer__wrapper
    .footer__line
    .footer__logos__wrapper
      each logo in misc.footer_logos
        figure.footer__logo__wrapper
          img.footer__logo(data-src=logo.logo1.url crossorigin='anonymous')