section.footer
  .footer__wrapper
    .footer__line
    .footer__logos__wrapper
      each logo in misc.footer_logos
        a.footer__logo__wrapper(href=logo.link.url)
          img.footer__logo(data-src=logo.logo1.url crossorigin='anonymous')