.preloader
	.preloader__wrapper

		figure.preloader__logo__wrapper
			img.preloader__logo(data-src=fetchSVG(miscellaneous.data.white_logo.url) crossorigin='anonymous')

		.preloader__line

		h5.preloader__percents 0%

		.preloader__line

		h1.preloader__title !{(miscellaneous.data.preloader_text)}



		