$color-white: #F8F8F8;
$color-black: #0F0F0F;
$color-yellow: #FFE459;
$color-blue: #006DEC;
$color-gray: #656565;
$color-darkblue: #1E2223;

$gradient-blue: linear-gradient(180deg, #819FFF 0%, #4658FF 100%);

$font-montserrat: 'Montserrat';
$font-noto: 'Noto Serif';

$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);

$z-indexes : (
    'navigation',
    'content'
);

$mobile-increment: 10rem;